/* CSS pour écran de smartphone */

/* Réinitialisation de toutes les marges et rembourrages */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilisation d'une police de caractères plus petite */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

/* Définition de la taille de la carte */
.carte {
  width: 90%;
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: rgba(150, 150, 150, 0.5);
  backdrop-filter: blur(5px);
}

/* Utilisation d'une image plus petite */
.carte img {
  width: 200px;
  border-radius: 50%;
}

/* Ajustement des tailles de police */
.carte h2 {
  font-size: 28px;
  margin-top: 10px;
}

.carte p {
  font-size: 14px;
  margin: 10px auto;
  max-width: 300px;
}

.carte .reseau img {
  width: 30px;
  margin: 10px 5px;
}

.bouton {
  font-size: 14px;
  padding: 8px 20px;
}

.footer {
  padding: 10px;
}

.footer img {
  width: 20px;
  margin-right: 5px;
}

.footer p {
  font-size: 12px;
}
